include ../../../../../shared/components/background-video/background-video.component.pug

+backgroundVideo({
	classSection: 'section-video-1',
	classContent: 'text-block-y-center text-block-x-center',
	secondTitle: 'According to the World Health Organization, <a class="border-dots border-color-white link" href="http://www.wpro.who.int/laos/mediacentre/releases/2017/20170410-road-accident-injuries/en/" target="_blank"> about 90 per cent of crashes</a> are due to drink-driving and speeding.',
	srcAudio: './video/chapter-one-video-1.mp4',
	classVideo: 'min-height-half height-half',
	titleClass: 'text-xxsmall'
})
