include ../../../../../shared/components/background-video/background-video.component.pug

+backgroundVideo({
	classSection: 'section-4 section-video-2 min-height-full height-100-vh',
	classContent: 'text-block-y-bottom text-block-x-center',
	secondTitle: 'Across town, neon lights of a different kind illuminate a dance club. Venues like this draw boisterous crowds of youthful Laotians looking for a good night out, lubricated with copious amounts of alcohol. ',
	srcAudio: './video/chapter-one-video-2.mp4',
	classVideo: 'min-height-full height-full',
	titleClass: 'text-xxxsmall'
})
