include ../../../../../shared/components/background-fixed/background-fixed.component.pug

+backgroundFixed({
	classSection: 'section-7 section-photo-5 min-height-full height-100-vh',
	title: 'A self-confessed risk-taker, Kik is in her element in the thick of the action. Her steely focus is nothing short of admirable.',
	titleClass: 'text-xxxsmall',
	classContent: 'text-left text-block-y-up text-block-x-left',
	srcImage: './img/chapter-3/section-7.jpeg',
})
