include ../../../../../shared/components/background-fixed/background-fixed.component.pug

+backgroundFixed({
	classSection: 'section-10 section-photo-6 min-height-full height-100-vh',
	title: 'Administrative processes ensure accident victims are given the best medical care they need. This volunteer relies on the notes she has written in her phone and on her hand to complete an accurate report at the hospital.',
	titleClass: 'text-xxxsmall',
	classContent: 'text-left text-block-y-bottom text-block-x-left',
	srcImage: './img/chapter-3/section-9.jpeg',
})
