include ../../../../../shared/components/background-fixed/background-fixed.component.pug

+backgroundFixed({
	classSection: 'section-5 section-photo-4 min-height-full height-100-vh',
	title: 'Kik’s quiet night ends soon enough when an emergency call comes in. She hops into the ambulance with her team and preps them from the front seat. ',
	titleClass: 'text-xxxsmall',
	classContent: 'text-left text-block-y-bottom text-block-x-left',
	srcImage: './img/chapter-3/section-5.jpeg',
})
