mixin image(spec)
	- spec = spec || {}
	- spec.class = spec.class || ''
	- spec.src = spec.src || ''
	- spec.alt = spec.alt || 'Our Better World'
	img.lazyload(class=spec.class data-src=spec.src, alt=spec.alt)&attributes(attributes)
