include ../../../../shared/components/button-primary/button-primary.component.pug

.section-forum.obw-section
	.container
		.row
			.col-12.col-sm-10.col-md-8.col-lg-6.mx-auto
				.body-text.text-center
					h4.text-heading.text-heading-xs If you are awed and amazed by what these volunteers do to save lives, let them know. 
					h4.text-heading.text-heading-xs Say 'thanks' and show your appreciation to the Vientiane Rescue team in our forum and we'll share your thoughts with them.
					+buttonPrimary('Show your appreciation', 'https://forum.ourbetterworld.org/topic/116/vientiane-rescue?_ga=2.151435193.1030747685.1573404766-1359111411.1569294411')
