section.chapter-container.obw-section#chapter-2
	+chapterHeading({
		chapter: 'Chapter 2', 
		subTitle: 'THE VOLUNTEERS', 
		class: 'chapter-heading-2'})
	include ./section-1/section-1.component.pug
	include ./section-2/section-2.component.pug
	include ./section-3/section-3.component.pug
	include ./section-4/section-4.component.pug
