section.chapter-container.obw-section.chapter-3#chapter-3
	+chapterHeading({
		chapter: 'Chapter 3', 
		subTitle: 'ON THE FRONTLINE', 
		class: 'chapter-heading-3'})
	include ./section-1/section-1.component.pug
	include ./section-2/section-2.component.pug
	include ./section-3/section-3.component.pug
	include ./section-4/section-4.component.pug
	include ./section-5/section-5.component.pug
	include ./section-6/section-6.component.pug
	include ./section-7/section-7.component.pug
	include ./section-8/section-8.component.pug
	include ./section-9/section-9.component.pug
	include ./section-10/section-10.component.pug
	include ./section-11/section-11.component.pug
	include ./section-12/section-12.component.pug
