include ../../../../../shared/components/audio-button-primary/audio-button-primary.component.pug
include ../../../../../shared/components/image/image.component.pug
.section-photo.section-2.section-photo-2.has-scroll-animation
	.container
		.row
			.col-sm-10.col-sm-center.col-md-6.col-md-left
				.body-text
					- for(let x =1; x < 23; x++)
						.space-size-40-px
					.content
						p.text-shadow-1
							strong Volunteers return from their rescue missions, and catch up over a home-cooked dinner. There is plenty of laughter, showing a deep bond between them, strengthened by the amount of time they spend together. Their friendships help to soften the often bloody scenes they see every day. Sébastien says that when the people they save and their families donate items to the stations to show their gratitude, it raises the spirits of volunteers and gives them the impetus to continue to save lives. Many cannot imagine leaving their Vientiane Rescue family.
						hr.body-text-divider.divider-size-medium.mx-auto
					.space-size-40-px
					.space-size-40-px
					h4.text-shadow-1
						| "People that stop by our station giving us food, this is something that is really touching us, because it's real generosity." - Sébastien
					+audioPrimary('./audio/Vientiane_SOT_30.mp3')
					- for(let x =1; x < 17; x++)
						.space-size-40-px
					.content
						p.text-shadow-1
							strong Some of these friendships have blossomed into romances. Before heading to bed, Kik video calls her fiancé , who is also a volunteer with Vientiane Rescue. He was part of the 2018 cave rescue team in Chiang Rai, Thailand. Kik says he coached and advised her when she first joined. Through their shared experiences and interest in helping people, they grew closer and fell in love.
						hr.body-text-divider.divider-size-medium.mx-auto
					- for(let x =1; x < 28; x++)
						.space-size-40-px
					.content
						p.text-shadow-1
							strong Vientiane Rescue volunteers each have their own private space in the dorms at each station. But those still on shift try to take a power nap during lull periods. This keeps them alert after a long day and ready to tackle any emergency in the dead of the night.
						hr.body-text-divider.divider-size-medium.mx-auto
					- for(let x =1; x < 18; x++)
						.space-size-40-px
	.background-list.background-scroll-animation.background-scroll-sticky
		.background-scroll-animation-inner.background-scroll-sticky-inner
			.background-item.background-item-1.is-active
				+image({
					class: 'width-full height-full',
					src: './img/chapter-4/section-2-1.jpeg'
				})
			.background-item.background-item-2
				+image({
					class: 'width-full height-full',
					src: './img/chapter-4/section-2-2.jpeg'
				})
			.background-item.background-item-3
				+image({
					class: 'width-full height-full',
					src: './img/chapter-4/section-2-3.jpeg'
				})
