mixin audioPrimary(src)
	.audio-button-primary.audio-init.js-audio.audio-has-animation
		audio.audio(src=src)
		.audio-actions
			.audio-action.audio-action-play
				.audio-icon.audio-icon-play
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 8 8', preserveAspectRatio='xMidYMin slice', width='100%', style=' overflow: visible')
						path(d='M0 0v6l6-3-6-3z', transform='translate(1 1)')
				span.audio-text.audio-text-play Listen
			.audio-action.audio-action-pause
				.audio-icon.audio-icon-pause
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 8 8', preserveAspectRatio='xMidYMin slice', width='100%', style=' overflow: visible')
						path(d='M0 0v6h2v-6h-2zm4 0v6h2v-6h-2z', transform='translate(1 1)')
				span.audio-text.audio-text-pause Pause
			.audio-action.audio-action-resume
				.audio-icon.audio-icon-resume
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 8 8', preserveAspectRatio='xMidYMin slice', width='100%', style=' overflow: visible')
						path(d='M0 0v6l6-3-6-3z', transform='translate(1 1)')
				span.audio-text.audio-text-resume Resume
		.audio-duration
		.audio-progress
