include ../../../shared/components/image/image.component.pug

footer.obw-footer.background-black
	.container
		.row
			.col-sm-10.col-md-8.col-lg-6.mx-auto
				.body-text.text-center
					p.footer-title
						strong About Vientiane Rescue
					.footer-content
						p
							| et up in 2010, 
							a(href="https://vientianerescue.org/") Vientiane Rescue 
							| is the first volunteer-led emergency response service with four stations in the capital of Laos. It has expanded into three more cities, Pakse, Vang Vieng and Xieng Khouang. French paramedic and former firefighter Sébastien Perret along with local volunteers, mostly students, saw the need for the service as accident victims were being left to die on the roadside. Besides road accidents, it also responds to fires, water-bound accidents. They have kept their services free, as many people cannot afford private ambulances. So far, Vientiane Rescue has depended on the kindness of private donors to keep the service running, which costs about US$5,000 each month. To date, volunteers have saved more than 60,000 people.
					hr.body-text-divider.divider-size-large
					.footer-logo.text-center.mx-auto
						a(href="https://www.ourbetterworld.org" target="_blank")
							+image({
								src: './img/obw-logo-white-large.png'
							})
					.footer-copyright
						p
							| Our Better World is the digital storytelling initiative of the
							a(href="https://www.sif.org.sg" target="_blank") Singapore International Foundation
							| , which brings world communities together to do good.
						p
							a(href="https://www.ourbetterworld.org" target="_blank") © 2019 Our Better World
