include ../../../../../shared/components/image/image.component.pug
include ../../../../../shared/components/audio-button-primary/audio-button-primary.component.pug
.section-photo.section-2.section-photo-2
	.container
		.row
			.col-sm-10.col-sm-center.col-md-right.col-md-6
				.body-text.background-white-light-opacity-9(data-scroll)
					.space-size-40-px
					.content
						h3.text-heading.text-heading-xs.text-center
							| A desire to “help others”, “save lives”, “make their city a safer place” and “to become better humans”. These are the common reasons why volunteers dedicate their time to Vientiane Rescue. While there is a core team of about 60 full-timers, most of the over 500 unpaid volunteers are students or juggle day jobs.
						hr.body-text-divider.divider-size-medium.mx-auto
						h3.text-heading.text-heading-xs Where are the pioneering volunteers now?
						figure.text-center
							+image({
								class: 'width-full',
								src: './img/chapter-2/section-2-small-picture-1.jpeg'
							})
							figcaption
								p Sébastien Perret with the original team of Vientiane Rescue founders. (Photo courtesy of Vientiane Rescue)
						p The original group of founding members, who were teenagers when they started Vientiane Rescue in 2010, continue to work with the rescue teams. Now in their early- to mid-20s they have taken on more administrative roles, including that of station deputy chief. Despite running the day-to-day operations at the stations, they regularly head out on emergency interventions with volunteers.
						hr.body-text-divider.divider-size-medium.mx-auto
						h3.text-heading.text-heading-small.color-primary
							| "Being a good manager isn't sitting behind a desk; it's being with the team inside the ambulances. So, each of us continues to work on the roads." - Sébastien
						hr.body-text-divider.divider-size-medium.mx-auto
						p Their loyalty to Vientiane Rescue all these years is due to their steadfast belief in the importance of the service they provide. Plus, “they also like it,” says Sébastien. “And you can’t get respect if you don't show your commitment.”
						+audioPrimary('./audio/Vientiane_SOT_11.mp3')
						.space-size-40-px
						h3.text-heading.text-heading-small What does Vientiane Rescue look for in a volunteer?
						p Professionalism, courage, solidarity, compassion, altruism, commitment and sacrifice. Uniforms are only given to volunteer trainees who show up regularly for at least three months.
						.space-size-40-px
						h3.text-heading.text-heading-small Meet some of the volunteers
						figure.text-center
							+image({
								class: 'width-full',
								src: './img/chapter-2/section-2-small-picture-2.jpeg'
							})
						h3.text-heading.text-heading-xs KIK, 25
						p A cashier at a local bank during the day, dedicated volunteers like Kik, who display leadership skills, are what make Vientiane Rescue so special.
						p Trained as an emergency medical technician (EMT), she is in charge of advising and briefing newcomers and teaching them first aid. The most regular advice she gives her volunteers is “to put their heart” in what they do. And reminds them that it is “not a game”, because they have people’s lives in their hands.
						.space-size-40-px
						figure.text-center
							+image({
								class: 'width-full',
								src: './img/chapter-2/section-2-small-picture-3.jpeg'
							})
						h3.text-heading.text-heading-xs JOHNSON, 26
						p A commercial pilot with Lao Skyway, Johnson is no stranger to high-stress situations. He signed up to volunteer with Vientiane Rescue after witnessing one too many accidents. He says that the law prevents people without the necessary qualifications to assist accident victims. This motivated him to get proper training. He is a qualified EMT and a diving instructor.
						p Fearing for his safety, his parents were initially against him volunteering. But after hearing his stories of rescue and bravado, are ardent supporters now. His dad even tunes in to the transmitter radio to monitor the accidents his son attends to on his shifts.
						p The greatest reward from saving lives is when victims recover and return to the stations to say, ‘Thank you.’ Johnson compares the feeling of achievement to landing a plane.  

	.background-list.background-scroll-sticky
		.background-scroll-sticky-inner
			.background-item
				+image({
					class: 'width-full height-full',
					src: './img/chapter-2/section-2.jpeg'
				})
