include ../../../shared/components/chapter-heading/chapter-heading.component.pug

include ./intro/intro.component.pug
include ./chapter-1/chapter-1.component.pug
include ./chapter-2/chapter-2.component.pug
include ./chapter-3/chapter-3.component.pug
include ./chapter-4/chapter-4.component.pug
include ./forum/forum.component.pug


