include ../../../../../shared/components/background-fixed/background-fixed.component.pug

+backgroundFixed({
	classSection: 'section-4 section-contributors section-photo-4 min-height-full height-100-vh',
	title: '<strong>CONTRIBUTORS</strong><br><br><strong>Thomas Cristofoletti</strong><br><strong><span class="color-primary"><sup>Photography &amp; Video</sup></span></strong><sup><br></sup><strong>Tsen-Waye Tay</strong><span class="color-primary"><sub><br></sub></span><span class="color-primary"><sup><strong>Producer &amp; Writer</strong></sup></span><sub><sup><br></sup></sub><strong>Stéphane-Thavideth Sivilay</strong><br><span class="color-primary"><strong><sup>Fixer</sup></strong></span><sup><br></sup><strong>Chris Annadorai</strong><sub><br></sub><span class="color-primary"><strong><sup>Executive Producer</sup></strong></span>',
	titleClass: 'text-xxxsmall',
	classContent: 'text-left text-block-y-center text-block-x-center',
	srcImage: './img/chapter-4/section-4.jpeg',
})
