include ../../../../../shared/components/background-fixed/background-fixed.component.pug

+backgroundFixed({
	classSection: 'section-3 section-photo-2 min-height-full height-100-vh',
	title: 'Thankfully, the accident isn’t serious, and the team transfers the shaken victim, a motorcyclist, into the ambulance. As Ai drives to the nearest hospital, his son, Ton, chats and watches over the patient.',
	titleClass: 'text-xxxsmall',
	classContent: 'text-left text-block-y-up text-block-x-right',
	srcImage: './img/chapter-3/section-3.jpeg'
})
