include ../../../../../shared/components/background-video/background-video.component.pug

+backgroundVideo({
	classSection: 'section-11 section-video-3 min-height-50-vh height-50-vh',
	classContent: 'text-block-y-bottom text-block-x-center',
	secondTitle: 'To date, Vientiane Rescue has saved more than 60,000 people - from just 300 in 2010 to over 15,000 in 2019.',
	srcAudio: './video/chapter-three-video-4.mp4',
	classVideo: '',
	titleClass: 'text-xxsmall'
})
