include ../../../../../shared/components/image/image.component.pug
include ../../../../../shared/components/audio-image/audio-image.component.pug
.section-photo.section-4.section-photo-4
	.container
		.row
			.col-sm-10.col-sm-center.col-md-right.col-md-6
				.body-text.background-white-light-opacity-9(data-scroll)
					.space-size-40-px
					.content
						h3.text-heading.text-heading-xs.text-center All's quiet for now at Dong Dok station, where Kik, Johnson, Ai and Ton volunteer.
						figure.text-center
							+image({
								class: 'width-full',
								src: './img/chapter-2/section-4-small-picture-1.jpeg'
							})
						h3.text-heading.text-heading-xs.text-center Dong Dok is the largest of four stations run by Vientiane Rescue in the capital. They also have one station in the southern city of Pakse, and two in the northern part of the country in Vang Vieng and Xiengkhuang. Across all seven stations, it has 20 ambulances and two fire trucks.
						hr.body-text-divider.divider-size-medium.mx-auto
						.space-size-40-px
						figure.text-center
							+image({
								class: 'width-full',
								src: './img/chapter-2/section-4-small-picture-2.jpeg'
							})
						p Ai and Ton check the pressure of the station's supply of oxygen tanks to make sure they function properly. When the dam collapsed in southeast Laos in 2018, Ai took leave from his job to represent Vientiane Rescue during the search and rescue operation. He says there were moments he feared for the lives of his team of volunteers, as they had to search for survivors in the river at near zero visibility.
						p There was also the lurking threat of unexploded ordnance (UXO) spread across the area by the floods. But Ai understood that risking their lives was integral to what they signed up for as first responders.
						figure
							+audioImage('./audio/Happy_Birthday_Mimi.mp3', './img/chapter-2/section-4-small-picture-3.jpeg')
						p Johnson joins Ai and Ton at Dong Dok station, and starts his shift on a celebratory note. He surprises call centre manager Mimi with a birthday cake. The fun ends abruptly when the phones start ringing. Mimi dashes off to handle the calls, leaving her cake uncut.
						.space-size-40-px
						figure
							+audioImage('./audio/Call_Centre_4.mp3', './img/chapter-2/section-4-small-picture-4.jpeg')
						h3.text-heading.text-heading-xs MIMI, 26
						p Behind a line of telephones is where Mimi is in her element, as she straddles the emergency calls and dispatches the ambulances from the station nearest the accident site. The call centre receives some 500 calls a month. Even as a paid full-timer, Mimi continues to volunteer her spare hours to respond to accidents. One of the things she enjoys most is to deliver babies. Mimi has dedicated the past six years of her life to Vientiane Rescue and acts as a big sister to the other residents at Dong Dok.
						p She says before Vientiane Rescue, she used to stay out late and party a lot. Since then, she has become more serious and likes herself better. Although she lives at Dong Dok permanently, she returns to her family home regularly. Her dream is to work at Vientiane Rescue indefinitely. The best part of her job? Interacting with people from different backgrounds.
	.background-list.background-scroll-sticky
		.background-scroll-sticky-inner
			.background-item
				+image({
					class: 'width-full height-full',
					src: './img/chapter-2/section-4.jpeg'
				})

