include ../../../../../shared/components/audio-button-primary/audio-button-primary.component.pug
include ../../../../../shared/components/image/image.component.pug
.section-photo.section-11.section-photo-7
	.container
		.row
			.col-sm-10.col-sm-center.col-md-6.col-md-left
				.body-text
					.space-size-100-vh
					.content
						h4.text-shadow-1
							| "We are working on an application to collect data on the road and to send it about 10 minutes before we bring the patient to the hospital. It's going to be a very big step forward for the treatment of patients." - Sébastien
						+audioPrimary('./audio/Vientiane_SOT_28.mp3')
						p.text-shadow-1
							strong After dropping off an accident survivor at the A&E, Sébastien chats with volunteers. Having lived in the country for nearly a decade, he speaks Lao and has developed a camaraderie with them. Over time, Sébastien and his teams have also gained the trust and respect of hospital staff. This has improved the survival rate of accident victims, and raised volunteers' morale.
					.space-size-100-vh
	.background-list.background-scroll-sticky
		.background-scroll-sticky-inner
			.background-item
				+image({
					class: 'width-full height-full',
					src: './img/chapter-3/section-10.jpeg'
				})
