include ../../../../../shared/components/background-video/background-video.component.pug

+backgroundVideo({
	classSection: 'section-8 section-video-2 min-height-full height-100-vh',
	classContent: 'text-block-y-bottom text-block-x-left',
	secondTitle: 'She directs her team to move the drunken victim onto a stretcher after wrapping his neck in a brace. The young man is transferred to the ambulance, where he is kept stable and comfortable.',
	srcAudio: './video/chapter-three-video-3.mp4',
	classVideo: '',
	titleClass: 'text-xxxsmall text-left'
})
