include ../../../../../shared/components/background-fixed/background-fixed.component.pug

+backgroundFixed({
	classSection: 'section-4 section-photo-3 min-height-full height-100-vh',
	title: 'At Dong Dok station, Kik has just arrived for her shift. Since joining the Vientiane Rescue team, Kik says she has matured and is better at adapting to new situations..',
	titleClass: 'text-xxxsmall',
	classContent: 'text-left text-block-y-bottom text-block-x-left',
	srcImage: './img/chapter-3/section-4.jpeg',
	imageStyle: 'object-position: 70% 0'
})
