include ../image/image.component.pug

mixin audioImage(audioSrc, imageSrc)
	.audio-container.audio-init.js-audio.has-image
		audio.audio(src=audioSrc)
		.obw-image
			+image({
				class: 'width-full',
				src: imageSrc
			})
		.obw-audio-button
			i.mdi.mdi-volume-mute
	
