mixin audioImage(audioSrc, imageSrc)
	.audio-container.audio-init.js-audio.has-image
		audio.audio(src='./audio/shirley.mp3')
		.obw-image
			img(src='./img/image-3.jpeg', alt='')
		.obw-audio-button
			i.mdi.mdi-volume-mute
	
