include ../../../../../shared/components/custom-video-controls/custom-video-controls.component.pug

.section-video-player.section-6.section-video-player-1
	+customVideoControls('./video/chapter-three-video-2.mp4', './img/chapter-3/video-1-poster.jpeg')
