header.obw-header
	.container-fluid.obw-header-container.height-full
		.obw-logo
			a.obw-logo-link(href="https://www.ourbetterworld.org", target="_blank", rel="noreferrer")
				img.obw-logo-main(src="./img/obw-logo-white.png", alt="Our Better World logo")
				img.obw-logo-small(src="./img/obw-logo-svg.svg", alt="Our Better World logo")
		.obw-menu
			nav.obw-menu-navbar
				ul.obw-menu-list
					li.obw-menu-item.is-active
						a.obw-menu-link(href="#chapter-1") Drunk, Driving & Dangerous
					li.obw-menu-item
						a.obw-menu-link(href="#chapter-2") The Volunteers
					li.obw-menu-item
						a.obw-menu-link(href="#chapter-3") On The Frontline
					li.obw-menu-item
						a.obw-menu-link(href="#chapter-4") Winding Down
				.obw-menu-line
		.obw-social
			a.obw-social-button.mdi.mdi-twitter(href="" data-social-share="twitter")
			a.obw-social-button.mdi.mdi-facebook(href="" data-social-share="facebook")
			a.obw-social-button.mdi.mdi-whatsapp(href="" data-social-share="whatsapp")
			a.obw-social-button.mdi.mdi-email(href="" data-social-share="email")
		include ./header-menu-button/header-menu-button.component.pug

