include ../../../../../shared/components/background-video/background-video.component.pug

+backgroundVideo({
	classSection: 'section-2 section-video-1 min-height-full height-100-vh',
	classContent: 'text-block-y-up text-block-x-right',
	secondTitle: 'At the wheel, Ai skilfully manoeuvres through rush-hour traffic. It can be risky and harrowing when other drivers break the law, by speeding or skipping red lights.',
	srcAudio: './video/chapter-three-video-1.mp4',
	classVideo: '',
	titleClass: 'text-xxxsmall text-left'
})
