include ../../../../../shared/components/image/image.component.pug
.section-photo.section-photo-3
	.container
		.row
			.col-sm-10.col-sm-center.col-md-6.col-md-left
				.body-text.background-white-light-opacity-9
					.space-size-40-px
					h3.text-heading.text-heading-xs AI, 41
					p This father-of-three works as a full-time engineer at an international hotel chain, managing its fire safety and gas system. But several times a week, Ai swaps his work attire for a different uniform after he clocks out.
					p He has volunteered with Vientiane Rescue for three-and-a-half years. The decision to join the team was precipitated by a loss in the family. His sister-in-law died in an accident seven years ago, because no one rescued her in time.
					figure.text-center
						+image({
							class: 'width-full',
							src: './img/chapter-2/section-3-small-picture-1.jpeg'
						})
					p Ai has become an indispensable addition to the team. The number of badges on Ai's uniform is testament to his achievements over the years. He now manages the diving, fire and rope rescue teams. An interest in first aid and rescue was nurtured since Ai was a young boy, and he continues to develop these skills by training regularly.
					p On the behalf of Vientiane Rescue, he also conducts training sessions with local firefighters. Ton, his eldest son, often assists him in preparing the presentation slides for these classes.
					.space-size-40-px
					figure.text-center
						+image({
							class: 'width-full',
							src: './img/chapter-2/section-3-small-picture-2.jpeg'
						})
					h3.text-heading.text-heading-xs TON, 15
					p So inspired by his father's passion for saving lives, Ton asked to join Vientiane Rescue at 11 years old. He now volunteers two to three times a week, sometimes without his dad. In order to continue with Vientiane Rescue, Ton has proven to his parents that he can juggle school work and volunteering. His dedication is clear, becoming one of the youngest volunteers to complete EMT training.
					.space-size-40-px
					figure.text-center
						+image({
							class: 'width-full',
							src: './img/chapter-2/section-3-small-picture-3.jpeg'
						})
					p Father and son have dinner with the rest of the family, before heading out for their shift at Dong Dok station. Ai says he is proud to see his son mature over the years, and believes that first aid rescue has taught him the importance of responsible driving.
	.background-list.background-scroll-animation
		.background-scroll-animation-inner
			.background-item
				+image({
					class: 'width-full height-full',
					src: './img/chapter-2/section-3.jpeg'
				})

