include ../../../../../shared/components/background-video/background-video.component.pug

+backgroundVideo({
	classSection: 'section-6 section-video-3 min-height-half height-half',
	classContent: 'text-block-y-bottom text-block-x-center',
	secondTitle: 'According to the World Health Organization, Laos is the <a class="border-dots border-color-white link" href="https://www.straitstimes.com/asia/south-asia/which-asian-country-drinks-the-most" target="_blank"> third biggest consumer of alcohol in Southeast Asia</a>, with 7.5 litres consumed per person per year.',
	srcAudio: './video/chapter-one-video-3.mp4',
	classVideo: '',
	titleClass: 'text-xxsmall'
})
