*
	&:focus
		outline: none

::-moz-focus-inner
	border: 0

body,html
	color: #000
	font-family: 'Source Sans Pro', sans-serif
	font-weight: 400
	// font-size: 16px
	line-height: 1.15
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

a
	text-decoration: none

ul, li
	list-style-type: none

picture
	display: block
	height: 100%

em, sub, sup
	font-weight: 600

sub, sup
	font-size: 70%
	vertical-align: baseline

img
	display: block
	vertical-align: middle

.full-size
	position: absolute
	top: 0
	left: 0

.hidden-layer-1
	z-index: -1
.hidden-layer-2
	z-index: -2

.mx-auto
	+mar(null auto)

.link
	@media (min-width: 1100px)
		transition: background-color .3s ease-in-out
		&:hover
			background-color: map-get($colors, primary)

.overflow-hidden
	overflow: hidden

.position-relative
	position: relative

.obw-section
	position: relative
	font-size: 17px
	@media (min-width: 620px)
		font-size: 18px
	@media (min-width: 1100px)
		font-size: 20px
	@media (max-width: 1399px) and (min-width: 1100px)
		.container
			max-width: 1240px

.border-dots
	border-bottom: 1px dotted

.text-block
	position: absolute
	+pad(null 25px)
	width: 100%
	&.text-block-x-center
		left: 50%
		transform: translate(-50%)
	&.text-block-x-right
		right: 0
	&.text-block-x-left
		left: 0
	&.text-block-y-center
		top: 50%
		transform: translateY(-50%)
		&.text-block-x-center
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	&.text-block-y-up
		top: 40px
	&.text-block-y-bottom
		bottom: 46px
	.sub-title
		margin-top: .5rem
	@media (min-width: 620px)
		+pad(null 30px)
	@media (min-width: 750px)
		width: 90%
	@media (min-width: 900px)
		max-width: 750px
		&.text-block-y-up
			top: 50px
		&.text-block-y-bottom
			bottom: 67.5px
	@media (min-width: 1100px)
		+pad(null 40px)
		max-width: 850px
		&.text-block-y-up
			top: 60px
		&.text-block-y-bottom
			bottom: 81px
		.sub-title
			margin-top: 1rem
	@media (min-width: 1400px)
		max-width: 1100px

.col-sm-center
	@media (min-width: 620px)
		+mar(null auto)
.col-md-right
	@media (min-width: 900px)
		margin-left: auto
		margin-right: 0
.col-md-left
	@media (min-width: 900px)
		margin-left: 0
		margin-right: auto

.background-list
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	&.background-scroll-sticky
		img
			object-fit: cover
		.background-scroll-sticky-inner
			position: sticky
			top: 0
			left: 0
			height: 100vh
		.background-item
			position: absolute
			top: 0
			left: 0
			display: block
			width: 100%
			height: 100%

.body-text
	padding-top: calc(48px - 1.5rem)
	padding-bottom: 48px
	+pad(null 25px)
	@media (min-width: 620px)
		padding-bottom: 60px
		padding-top: calc(60px - 1.5rem)
		+pad(null 30px)
	@media (min-width: 900px)
		padding-top: calc(72px - 1.5rem)
	@media (min-width: 1100px)
		+pad(null 40px)

.section-photo
	position: relative
	.body-text
		position: relative
		z-index: 30
		color: map-get($colors, white)
		p
			+mar(1.5rem null)
			line-height: 1.7
		h4
			font-size: 28px
			color: map-get($colors, primary)
			+mar(1em null)
		a
			color: map-get($colors, white)
		figure
			figcaption
				p
					color: #777
					font-weight: 400
					font-size: .8em
					padding: .5em
					line-height: 1.2
					margin: 0
		&.background-white-light-opacity-9
			color: #424242
		@media (max-width: 900px)
			margin-top: 70vh
			margin-bottom: 70vh
	&.has-scroll-animation
		background-color: map-get($colors, neutral-8)
		.background-item
			img
				opacity: 0
				transition: opacity .7s linear
			&.is-active
				img
					opacity: 1

.body-text-divider
	display: block
	border: none
	background-color: rgba(204,204,204,.75)
	height: 1px
	margin-top: 2.1rem
	margin-bottom: 2.1rem
	overflow: hidden
	&.divider-size-medium
		width: 50%
	&.divider-size-large
		width: 100%


