*
	&:focus
		outline: none

::-moz-focus-inner
	border: 0

body,html
	color: #000
	font-family: 'Source Sans Pro', sans-serif
	font-weight: 400
	font-size: 16px
	line-height: 1.15
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

a
	text-decoration: none

ul, li
	list-style-type: none
	padding: 0
	margin: 0


.obw-section
	position: relative
	font-size: 17px
	@media (min-width: 620px)
		font-size: 18px
	@media (min-width: 1100px)
		font-size: 20px

.background-color-primary
	background-color: map-get($colors, primary)

.background-white-light-opacity-9
	background-color: color-rgba(map-get($colors, white), .9)

.line-devider
	display: inline-block
	border: none
	background-color: rgba(204,204,204,.75)
	height: 1px
	margin: 0
	margin-top: 2.1rem
	margin-bottom: 2.1rem
	overflow: hidden
	width: 50%

.border-dots
	border-bottom: 1px dotted

.border-color-white
	border-color: map-get($colors, white)
